* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#displayer, #cmd-line {
    border: solid 1px #777;
    width: 95%;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

#displayer {
    height: 85%;
    margin-bottom: 5px;
    overflow: auto;
}

#file-dialog {
    display: none;
}

.task>div {
    display: inline-block;
}

.id {
    width: 5%;
}

.filename {
    width: 30%;
}

.fractional-progress {
    width: 10%;
}

.speed {
    width: 15%;
}

.remaining-time {
    width: 10%;
}
