* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#container {
    height: 400px;
}

#displayer, #cmd-line {
    border: solid 1px #777;
    width: 95%;
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
}

#displayer {
    height: 85%;
    margin-bottom: 5px;
    overflow: auto;
}

#file-dialog {
    display: none;
}

.task>div {
    display: inline-block;
}

.id {
    width: 5%;
}

.filename {
    width: 30%;
}

.progress {
    width: 10%;
}

.speed {
    width: 25%;
}

.remaining-time {
    width: 10%;
}

#status-line:after {
    display: block;
    content: '';
    clear: both;
}

#supporters-num {
    float: left;
}

#supporter-state {
    float: right;
}
